.body {
  /* overflow: hidden; */
  background-color: beige;
}

.cascading-right {
  margin-right: -50px !important;
}

.login-image {
  max-width: 100%;
  height: auto; 
  display: block; 
  margin: auto;
<<<<<<< HEAD
}
=======
}
>>>>>>> 31a9229048652a77f72a658c7d19986638454a94
