.body {
    overflow: hidden;
    background-color:beige;
  }
  
.cascading-right {
    margin-right: -50px !important;
  }
  
  @media (max-width: 900px) {
    .cascading-right {
      margin-right: 0  !important;
    }
  }