.body {
  /* overflow: hidden; */
  background-color: beige;
}

.cascading-right {
  margin-right: -50px !important;
}

.login-image {
  max-width: 100%;
  height: auto; 
  display: block; 
  margin: auto;
}
