body {
    overflow: hidden;
    background-color:beige;
  }
  
  .cascading-right {
    margin-right: -50px !important;
  }

  .register-image{
    width: 600px;
    height: 380px; 
  }

  .register-card {
    margin-top: 40px;
  }
